h1{
    color: brown;
    text-align: center;
    font-family: georgia;
}
h3{
    text-align:  center;
    color: black;
}
h4{
    text-align:  center;
}
p{
    color: red;
    line-height: 30px;
    text-align: center;
}
a{
    color: green;
    text-decoration: none;
}
bitton{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;
}
span{
    text-decoration: underline;
}